<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <title>Calculadora</title>
</head>

<body>
    <h1 class="title">Calculadora</h1>

    <div class="container">
        <!-- Calculadora -->
        <div class="calculator">
            <div class="display" id="display">0</div>
            <div class="button-container">
                <button class="button" onclick="appendToDisplay('(')">(</button>
                <button class="button" onclick="appendToDisplay(')')">)</button>
                <button class="button clear" onclick="clearDisplay()">C</button>
                <button class="button operator" onclick="appendToDisplay('/')">/</button>
                <button class="button" onclick="appendToDisplay('7')">7</button>
                <button class="button" onclick="appendToDisplay('8')">8</button>
                <button class="button" onclick="appendToDisplay('9')">9</button>
                <button class="button operator" onclick="appendToDisplay('*')">X</button>
                <button class="button" onclick="appendToDisplay('4')">4</button>
                <button class="button" onclick="appendToDisplay('5')">5</button>
                <button class="button" onclick="appendToDisplay('6')">6</button>
                <button class="button operator" onclick="appendToDisplay('-')">-</button>
                <button class="button" onclick="appendToDisplay('1')">1</button>
                <button class="button" onclick="appendToDisplay('2')">2</button>
                <button class="button" onclick="appendToDisplay('3')">3</button>
                <button class="button operator" onclick="appendToDisplay('+')">+</button>
                <button class="button" onclick="appendToDisplay('0')">0</button>
                <button class="button" onclick="appendToDisplay('.')">.</button>
                <button class="button delete" onclick="deleteLast()">DEL</button>
                <button class="button memory" onclick="saveToMemory()">MS</button>
                <button class="button memory" onclick="useMemory()">MR</button>
                <button class="button equal" onclick="calculateResult()">=</button>
            </div>
        </div>

        <!-- Resultados: Árbol y Tokens -->
        <div class="results">
            <div class="view-options">
                <button class="view-tree-button" onclick="showSyntaxTree()">Ver Árbol</button>
                <button class="view-tree-button" onclick="showTokens()">Ver Tokens</button>
            </div>
            <div id="syntax-tree-container" class="result-view"></div>
            <div id="tokens-container" class="result-view scrollable" style="display: none;"></div>
        </div>
    </div>

    <script src="../static/script.js"></script>
</body>
</html>
